*~
.\#*
\#*
Icon?
.DS_Store
.hg
.svn
.bzr
/**/*DONTVERSION*
nohup.out
/**/tmp/*/*
/**/log/*
/**/cache/*
REVISION
TAGS*
.project
.pydevproject
.settings
.tasks-cache
*.tmproj
TODO (Autosaved).taskpaper
config/*private.yaml
config/*site.yaml
/**/config/database.yml
/**/log/searchd*.pid
/vendor/src/**/*
/config/development.sphinx.conf
/coverage
/db/sphinx
/db/*.sqlite*
