## OS
.DS_Store
Icon
nohup.out
.bak

*.pem

## EDITORS
\#*
.\#*
\#*\#
*~
*.swp
REVISION
TAGS*
tmtags
*_flymake.*
*_flymake
*.tmproj
.project
.settings

## COMPILED
a.out
*.o
*.pyc
*.so

## OTHER SCM
.bzr
.hg
.svn

## PROJECT::GENERAL

log/*
tmp/*
pkg/*

coverage
rdoc
doc
pkg
.rake_test_cache
.bundle
.yardoc

.vendor

## PROJECT::SPECIFIC

old/*
docpages
away

.rbx
Gemfile.lock
Backup*of*.numbers
