/.#
.\#*
.#*
*~
\#*
actionmailer_config_DONOTVERSION.rb
.bzr
/**/cache/*
/**/config/database.yml
/config/database.yml
config/development.sphinx.conf
/coverage
/db/sphinx
/db/*.sqlite*
/**/db/*.sqlite3
/doc/*
/doc/api
/doc/app
doc/*Icon?
/doc/plugins
*DONOTVERSION*
/**/*DONTVERSION*
.DS_Store
.hg
Icon?
instiki/*
/**/log/*
/log/*.log
log/searchd*.pid
*.org
.project
/public/ac/*
.pydevproject
REVISION
.settings
.svn
TAGS
TAGS*
.tasks-cache
/**/tmp/*/*
/tmp/**/*
tmp/*
*.tmproj
TODO (Autosaved).taskpaper
/vendor/src/**/*
nohup.out
twitter_pass.rb
have_screen_names.rb
config/private.yaml
