---
layout: default
title:  edamame news
collapse: true
---
<h1 class="gemheader">{% if site.gemname %}{{ site.gemname }}{% else %}mrflip{% endif %}<span class="small">:: news</span></h1>

<div id="news">
  {% for t in site.posts %} {% assign has_posts = true %}{% endfor %}{% if has_posts %}
  {% for post in site.posts %}
  <div class="toggle" id="news-{{ post.id }}">
    
    <h2><a href="{{ post.url }}">{{ post.title }}</a><span class="small"> &raquo; {{ post.date | date_to_string }}</span></h2>
    
    {{ post.content }}
    
  </div>
  {% endfor %}
  {% else %}
  <p class="heavy">
    <em>(no news. good news?)</em>
  </p>
  {% endif %}
</div>
