---
layout: default
---

<h1 class="gemheader">{% if site.gemname %}{{ site.gemname }}{% else %}mrflip{% endif %}<span class="small">:: news</span></h1>

<h1>{{ page.title }}</h1>

<div id="post">
{{ content }}
</div>


{% for t in site.related_posts %} {% assign has_related_posts = true %}{% endfor %}{% if has_related_posts %}
<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span class="postdate">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endif %}
